# Carpetas específicas
bootstrap/
materialize/
__pycache__/

# Archivos de Python
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Archivos de datos grandes
*.csv
*.xlsx
*.xls

# Archivos del sistema
.DS_Store
Thumbs.db 